name: capi-node-labeler-app
namespace: kube-system
serviceType: managed

image:
  name: "giantswarm/capi-node-labeler-app"
  tag: ""
  registry: "gsoci.azurecr.io"

pod:
  user:
    id: 1000
  group:
    id: 1000

global:
  podSecurityStandards:
    enforced: true
